<mat-card class="card-proposta">
  <h2 class="card-proposta__title">Teste</h2>
  <p class="card-proposta__description">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel dolores, fugit
    odio aperiam, molestias laudantium atque alias, facilis eaque hic modi.
    Atque asperiores quasi aliquam, iste officia quia magnam facere.
  </p>
  <div class="card-proposta__actions">
    <button mat-icon-button color="warn" class="card-proposta__reject">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button color="primary" class="card-proposta__accept">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</mat-card>
